/* Icons from directory "" */
.icon-fb,.icon-fb\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-fb-dims{width:37px;height:37px}
.icon-inst,.icon-inst\:regular{background-image:url('icons/icons.svg');background-position:0 -37px;background-repeat:no-repeat}
.icon-inst-dims{width:37px;height:37px}
.icon-twitter,.icon-twitter\:regular{background-image:url('icons/icons.svg');background-position:0 -74px;background-repeat:no-repeat}
.icon-twitter-dims{width:37px;height:31px}
.icon-vk,.icon-vk\:regular{background-image:url('icons/icons.svg');background-position:0 -105px;background-repeat:no-repeat}
.icon-vk-dims{width:126px;height:72px}