.burgers{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9b43b+0,eb8d38+33,eb8d38+66,f9b43b+100 */
    background: #f9b43b; /* Old browsers */
    background: -moz-linear-gradient(top, #f9b43b 0%, #eb8d38 33%, #eb8d38 66%, #f9b43b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f9b43b 0%,#eb8d38 33%,#eb8d38 66%,#f9b43b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f9b43b 0%,#eb8d38 33%,#eb8d38 66%,#f9b43b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 ); /* IE6-9 */
	  position: relative;
	.container{
    	top: 50%;
    	transform: translateY(-50%);
  }
}

.burgers__wrapp{
	@extend %clearfix;
	width: 100%;
	display: inline-block;
	margin-top: 69px;
}

.burgers__left{
	float: left;
	width: 50%;
	padding-right: 20px;
	margin-top: 69px;
	
	position: relative;
	.burgers__left-pic{
		margin-top: 20px;
		width: 460px;
		height: 325px;

	}

	.burgers__left-kkal{
		position: relative;
		width: 60px;
		height: 75px;
		background-repeat: no-repeat;
		text-align: center;
		padding-top: 28px;
		.kkal__energy, .kkal__name{
			color: #fff;
			font: 14px/1.4 'gagalin', Arial, sans-serif;
			display: inline-block;
		}

		.kkal__energy{
			font: 20px/1.2 'gagalin', Arial, sans-serif;
			margin-bottom: 7px;
		}
	}
	
}

.burgers__left-consist{
	@extend %clearfix;
	position: absolute;
	top: -51px;
	transition: all 0.3s;
	&:hover{
		background-color: rgb(227, 80, 40);
		border-radius: 5px;
			.consist__list{
  			left: 90px;
  			opacity: 1;
		}
	}
	.consist__link{
		border-radius: 5px;
		background-color: rgba(227, 80, 40, .4);
		width: 90px;
		height: 90px;
		display: inline-block;
		text-align: center;

		.consist__link-img{
			width: 47px;
			height: 64px;
			margin: 0 auto;
			top: 50%;
			position: relative;
			transform: translateY(-50%);
			color: #fff;
			font: 14px/1.4 'gagalin', Arial, sans-serif;
		}
	}
}

.consist__list{
	float: right;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.902);
	 width: 270px;
  height: 332px;
  opacity: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 9999px;
  transition: opacity .4s;
}


.consist__beef-icon{
	 width: 44px;
	 height: 39.212px;
	 display: inline-block;
	 margin-right: 25px;
	 background-position: center center;
	 background-repeat: no-repeat;
 }

.consist__item{
	 margin-bottom: 5px;
	&:last-child{
		margin-bottom: 0;
 	}
}

.consist__item-name{
	font-weight: 600;
	width: 119px;
 }
 
 .consist__item-weight{
	 width: 35px;
	 text-align: right;
 }
 
 .consist__item-name, .consist__item-weight{
	 display: inline-block;
	 box-sizing: border-box;
	 position: relative;
	 top: 50%;
	 transform: translateY(-50%);
	 -moz-transform: translateY(-50%);
	 -ms-transform: translateY(-50%);
	 -webkit-transform: translateY(-50%);
	 -o-transform: translateY(-50%);
 }


.burgers__right{
	width: 50%;
	display: inline-block;
	padding-right: 18px;
	margin-top: 69px;
}

.white_none{
	color: #fff;
	text-align: left;
	margin-bottom: 36px;
}

.burger__content{
	font-weight: 300;
	color: #fff;
	margin-bottom: 5px;
}

.burger__cost{
	
	color: $red;
	font: 30px/1.1 'gagalin', Arial, sans-serif;
	padding-top: 16px;
	
	.button{
		background-color: $red;
	}
	

	.cost{
		font-size: 72px;
	}

	.burger__order{
		margin-left: 22px;
	}
}


.arrow__right, .arrow__left{
	width: 28.685px;
	height: 14.479px;
	position: absolute;

	display: inline-block;
	background-position: center; 
	background-repeat: no-repeat;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%); 
 }
  
.arrow__right{
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	right: -20px;
} 

.arrow__left{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	left: -20px;
} 
